.navigator {
  display: flex;
}
nav {
  max-width: 285px;
  display: flex;
  justify-content: center;
}
ul {
  width: 285px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
li {
  list-style-type: none;
  gap: 15;
}
a {
  text-decoration: none;
}
