.section_setting {
  display: flex;
  justify-content: center;
}
.wrapper_setting {
  width: 80%;
}
.check_area {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* .checkRandom {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  border: 1px solid var(--Primary-6);
  border-radius: 50%;
}
.checkRandom::before {
  content: "";
  width: 0.55em;
  height: 0.5em;

  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--Primary-6);
  border-radius: 50%;
}
.checkRandom:checked::before {
  transform: scale(1);
} */

.checkRandom {
  width: 16px;
  height: 16px;
  border: 2px solid #007bff; /* Синий цвет */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}
.checkRandom:focus {
  box-shadow: 0 0 4px #007bff;
}
.checkrandom:checked {
  background-color: #007bff;
}
.checkRandom::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.settings_text {
  margin: 11px 0 16px 0;
}

.check_thema {
  border: 0;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.check_thema::before {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px; /* Стрелка вниз */
  border-color: #000 transparent transparent transparent;
  margin-right: 8px; /* Расстояние между стрелкой и текстом */
}
.thema_item {
  border: none;
  background: #ffffff;
}

/* input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  background: #fff;
  border: 2px solid #415674;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
}
input[type="checkbox"] {
  border-radius: 0;
}
input[type="radio"]::before,
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
} */
/* input[type="radio"]:checked::before {
  border: 5px solid transparent;
  border-radius: 100%;
  background: #4b83fc;
  margin: 4px;
} */
/* input[type="checkbox"]:checked::before {
  border-right: 5px solid #4b83fc;
  border-bottom: 6px solid #4b83fc;
  height: 90%;
  width: 30%;
  transform: rotate(50deg) translateY(-20%) translateX(-10%);
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: solid 1px;
  outline-offset: 2px;
} */
input[type="checkbox"] {
  appearance: none;
  background: #fff;
  border: 2px solid #4b83fc;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
}
input[type="checkbox"]:checked::before {
  border: 5px solid transparent;
  border-radius: 100%;
  background: #4b83fc;
  margin: 4px;
}
.thema_center {
  display: flex;
}
